.odd{
    background-color: rgb(230, 146, 185);
    color: black;
}
#two{
    color: blue;
    font-size: 36px;
}
#four{
    background-color: rgb(151, 238, 151);
    font-size: 24px;
    font-weight: bold;
}
.cooler{
    font-size: 44px;
}